<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
<table width="498" height="582" border="1">
 
  <tr>
    <th height="88"><a href="Reg_trav">Registration</a></th>
  </tr>
  <tr>
    <th height="94"><a href="Vehicle_manage">Vehicle management</a></th>
  </tr>
  <tr>
    <th height="89"><a href="vehicle_add">Add vehicle</a></th>
  </tr>
  <tr>
    <th height="94"><a href="Book_view">View Booking</a></th>
  </tr>
  <tr>
    <th height="104"><a href="Booking_status">Booking status</a></th>
  </tr>
   <tr>
    <th height="97" scope="col"><a href="feedback_view">View feedback</a></th>
  </tr>
</table>

</form>
</body>
</html>