{% extends 'traveller/Traveller_index.html' %}
{% block body%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
<table width="592" border="1" class="table table-active table-dark">
  <tr>
    <th width="15" scope="col">#</th>
    <th width="74" scope="col">Name</th>
    <th width="62" scope="col">Type</th>
    <th width="115" scope="col">Capacity</th>
    <th width="90" scope="col">Details</th>
    <th width="56" scope="col">Cost</th>
    <th width="134" scope="col">&nbsp;</th>
  </tr>
    {% for v in vehi %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ v.Name }}</td>
    <td>&nbsp;{{ v.Type }}</td>
    <td>&nbsp;{{  v.Capacity}}</td>
    <td>&nbsp;{{  v.Details}}</td>
    <td>&nbsp;{{  v.Cost}}</td>
    <td><a href="/edit_vehicle/{{ v.id }}" class="btn btn-success">Edit</a><br/><br/><a href="/delete2/{{ v.id }}"class="btn btn-danger">Delete</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}