{% extends 'Userr/User_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
<table width="412" border="1" class="table table-active table-dark">
  <tr>
    <th width="22" scope="col">#</th>
    <th width="68" scope="col">Name</th>
    <th width="155" scope="col">Image</th>
    <th width="139" scope="col">Address</th>
  </tr>
    {% for n in placee %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ n.Name }}</td>
    <td><img src="{{ n.Image}}" width="150" height="100" alt=""/></td>
    <td>&nbsp;{{ n.Place}},{{ n.Post }},{{ n.Pin }}</td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}
