{% extends 'Userr/User_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
<table width="692" border="1" class="table table-active table-dark">
  <tr>
    <th width="31" height="34" scope="col">#</th>
    <th width="129" scope="col">Complaints</th>
    <th width="57" scope="col">Date</th>
    <th width="129" scope="col">Reply</th>
  <th width="129" scope="col">Reply_date</th>

    {% for d in comp %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ d.Complaints }}</td>
    <td>{{ d.date }}</td>
      <td>{{ d.replay }}</td>
    <td>{{ d.Replay_date }}</td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}
