<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
<table width="498" height="582" border="1">
 
  <tr>
    <th height="88"><a href="reg_travel">Registered Traveller</a></th>
  </tr>
  <tr>
    <th height="94"><a href="add_place">Add place</a></th>
  </tr>
  <tr>
    <th height="89"><a href="approve_travel">Approved traveller</a></th>
  </tr>
  <tr>
    <th height="94"><a href="place_manage">Places management</a></th>
  </tr>
  <tr>
    <th height="104"><a href="complaint_view">View complaint</a></th>
  </tr>
   <tr>
    <th height="97" scope="col"><a href="feedback_view">View feedback</a></th>
  </tr>
</table>

</form>
</body>
</html>
