<!doctype html>
<html lang="en">
  <head>
  	<title>Registered traveller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/Table_temp/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
{#			<div class="row justify-content-center">#}
{#				<div class="col-md-6 text-center mb-5">#}
{#					<h2 class="heading-section">Table #07</h2>#}
{#				</div>#}
{#			</div>#}
			<div class="row">
				<div class="col-md-12">
{#					<div class="table-wrap">#}
                        <form action="" method="post">
                            {% csrf_token %}
						<table class="table table-bordered table-dark table-hover">
						  <thead>
                          <tr>
    <th width="48" scope="col">#</th>
    <th width="126" scope="col">Name</th>
    <th width="116" scope="col">Address</th>
    <th width="112" scope="col">Email</th>
    <th width="98" scope="col">Photo</th>
    <th width="109" scope="col">PhoneNo</th>

  </tr>
    {% for x in tra %}
                          <tr>
    <td>&nbsp;{{forloop.counter }}</td>
    <td>&nbsp;{{ x.Name }}</td>
    <td>&nbsp;{{ x.Place }},{{ x.Post }},{{ x.Pin }}</td>
    <td>&nbsp;{{ x.Email }}</td>
    <td><img src="{{ x.Photo }}" width="250" height="180" alt=""/></td>
    <td>&nbsp;{{ x.PhoneNo }}</td>
  </tr>
    {% endfor %}
                        </table>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/Table_temp/js/jquery.min.js"></script>
  <script src="/static/Table_temp/js/popper.js"></script>
  <script src="/static/Table_temp/js/bootstrap.min.js"></script>
  <script src="/static/Table_temp/js/main.js"></script>

	</body>
</html>

